<li class="header"><%= geo.country_name %></li>
<%
var region = [];
geo.city && region.push(geo.city);
geo.region && region.push(geo.region);
if (region.length) { %>
  <li class="data small"><%= region.join(', ') %></li>
<% } %>
<li><%= geo.ip %></li>
<li class="separator"></li>
<li class="service">
  <a class="ipx" target="_blank" href="http://ipx.pm/<%= domain %>">Spy this Ip</a>
</li>
<li class="service">
  <a class="whois" target="_blank" href="http://whois.domaintools.com/<%= domain %>">Whois</a>
</li>
